.ion-ios-myLogo:before {
  content: url("../assets/imgs/svg/video.svg");
}
.ion-ios-myGrayBg {
  background: #333;
}
.ion-md-myLogo:before {
  content: url("../assets/imgs/svg/video.svg");
}
.ion-md-myGrayBg {
  background: #333;
}
.ion-ios-redHeart {
  content: url("../assets/icon/myIcon/red_heart.svg");
  font-size: 0.5rem;
}
.ion-ios-grayHeart {
  content: url("../assets/icon/myIcon/gray_heart.svg");
  font-size: 0.5rem;
}
.ion-md-redHeart {
  content: url("../assets/icon/myIcon/red_heart.svg");
  font-size: 0.5rem;
}
.ion-md-grayHeart {
  content: url("../assets/icon/myIcon/gray_heart.svg");
  font-size: 0.5rem;
}
.ion-ios-star {
  content: url("../assets/icon/myIcon/star.svg");
  font-size: 0.5rem;
}
.ion-md-star {
  content: url("../assets/icon/myIcon/star.svg");
  font-size: 0.5rem;
}
.ion-ios-logo {
  content: url("../assets/icon/myIcon/logo.svg");
}
.ion-md-logo {
  content: url("../assets/icon/myIcon/logo.svg");
}
.ion-ios-searchLogo {
  content: url("../assets/icon/myIcon/searchLogo.svg");
}
.ion-md-searchLogo {
  content: url("../assets/icon/myIcon/searchLogo.svg");
}
.ion-ios-device {
  content: url("../assets/icon/myIcon/device.svg");
}
.ion-md-device {
  content: url("../assets/icon/myIcon/device.svg");
}
.ion-ios-settings {
  content: url("../assets/icon/myIcon/settings.svg");
}
.ion-md-settings {
  content: url("../assets/icon/myIcon/settings.svg");
}
.ion-ios-history {
  content: url("../assets/icon/myIcon/history.svg");
}
.ion-md-history {
  content: url("../assets/icon/myIcon/history.svg");
}
.ion-ios-subscribe {
  content: url("../assets/icon/myIcon/subscribe.svg");
}
.ion-md-subscribe {
  content: url("../assets/icon/myIcon/subscribe.svg");
}
.ion-ios-arrowRight {
  content: url("../assets/icon/myIcon/arrow_right.svg");
}
.ion-md-arrowRight {
  content: url("../assets/icon/myIcon/arrow_right.svg");
}