page-banner {
  ion-slides {
    height: 18rem;
    color: #fff;

    .slideBg {
      position: relative;

      .filmDetail {
        position: absolute;
        bottom: 1.8rem;
        width: 100%;
        height: 9rem;
        background: rgba(200, 200, 200, 0.25);

        .slide-title {
          position: absolute;
          bottom: 6rem;
          padding-left: 0.6rem;
          font-weight: normal;

          .titleLeft {
            color: #ff4500;
          }

          .titleRight {
          }
        }

        p {
          width: 100%;
          position: absolute;
          bottom: 2.3rem;
          display: block;
          overflow: hidden;
          word-break: keep-all;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-weight: normal;

          .detailLeft {
            color: #ff4500;
          }

          .detailRight {
          }
        }
      }
    }
  }
}